body {
    /* Box-model */
    padding: 0;
  
    /* Positioning */
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
  
    /* Typography */
    font-size: 18px;
    line-height: 150%;
    color: #333;
}

    /* Background and border for the About Me section  */
#main-bio{
    background-color: gray;
    width: 600px;
    height: 400px;
    padding: 10px;
    border: 1px solid white;
}

.container {
    /* Box-model */
    width: 1024px;
  
    /* Positioning */
    margin: 0 auto;
}

    /* Aligns the photo left */
#bio-image {
    float: left;


    /* Size of box for image */
    width: 250px;
    height: 200px;
    margin-right: 20px;
}